<ion-header>
  <ion-toolbar>
    

    <ion-title>Guide
    </ion-title>
  </ion-toolbar>
</ion-header>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqS8bXAYAOrObOu6-eWUE0mCsw0tKBKMY&v=3.exp&libraries=places">
</script>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            row 1 col 1
          </ion-card-header>
          <ion-card-content>
            example
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-back-button>back</ion-back-button>
        row 1 col 2
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        row 2 col 1
      </ion-col>
      <ion-col>
        row 2 col 2
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
