<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img id="montreal" src="/assets/Montreal.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome to on est des touristes F</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-list lines="none">
      <ion-item>
        <ion-button (click)='useMyLocation()'>Use my location</ion-button>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="inLat" placeholder="Latitude"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="inLong" placeholder="Longitude"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="inType" placeholder="Type"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="inKey" placeholder="Keyword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="inRad" placeholder="Range"></ion-input>
      </ion-item>
      <ion-item>
        <button (click)='loadPlaces()'>Get started</button>
      </ion-item>
      <ion-item [routerLink]="'/example'" routerDirection="forward">
      <ion-card>New page</ion-card>
      </ion-item>
    </ion-list>
</ion-content>
