<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Press F for nothing ! 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #home id="home" class="home">
    <ion-card class="welcome-card">
      <ion-img id="montreal" src="/assets/Montreal.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title class="entete">Welcome to Montreal</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-list lines="none">
      <ion-item>
        <ion-button class="locationActuelle" (click)='useMyLocation()'>Current Location</ion-button>
      </ion-item>
      <div class="texte">or</div>
      <ion-item>
        <ion-input class="champs" [(ngModel)]="inLat" placeholder="Manual Latitude"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input class="champs" [(ngModel)]="inLong" placeholder="Manual Longitude"></ion-input>
        </ion-item>
      <ion-item>
          <ion-input class="champs" [(ngModel)]="inRad" placeholder="Range"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="champs" [(ngModel)]="inKey" placeholder="Keyword"></ion-input>
      </ion-item>
      <ion-item >
        <ion-button  class="getStarted" (click)='loadPlaces()'>Get Started</ion-button>
      </ion-item>
    </ion-list>
</ion-content>




<ion-content  #result id="result" class="result">
    <ion-card class="welcome-card">
      <ion-img id="montreal" src="/assets/Montreal.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title class="entete">Welcome to Montreal</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-list lines="none">
          <ion-item class="champs" *ngFor="let endroit of endroits">
              {{ endroit.nom }}, {{endroit.adresse}}
          </ion-item>
        <ion-button class="cancel" (click)='annuler()'>Cancel</ion-button>
    </ion-list>
</ion-content>
